<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <img src="../assets/img/totvsflix.png" height="80" />
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="preto">

  <ion-card class="backgroud">
    <ion-card class="cardlogin">
      <ion-card-content>
        <h2>Login</h2>
        <ion-input type="e-mail" placeholder="Digite seu e-mail" class="login-input"></ion-input>
        <h2>Senha</h2>
        <ion-input type="password" placeholder="Digite sua senha" class="login-input"></ion-input>
      </ion-card-content>
    </ion-card>
  </ion-card>
</ion-content>