<!--<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <img src="../assets/img/totvsflix.png" height="40" />
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content color="preto">
    <ion-card class="backgroud">
      <img class="titulo-login" src="../assets/img/totvsflix-wht.png"/>  
      <ion-card-content class="cardlogin">  
        <h2>Login</h2>
        <ion-input type="e-mail" placeholder="Digite seu e-mail" class="login-input"></ion-input>
        <h2>Senha</h2>
        <ion-input type="password" placeholder="Digite sua senha" class="login-input"></ion-input>
        <ion-button expand="block" color="danger">Bora lá!</ion-button>
        <label class="login-label">Não tem conta? Cadastre-se agora!<br></label>
        <label class="login-label">Esqueci minha senha</label>
      </ion-card-content>
    </ion-card>
  
</ion-content>