<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <img src="../assets/img/totvsflix.png" height="30"/>
      
    </ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content>
  <ion-title>
      </ion-title>
    <ion-card class="welcome-card">
    <ion-card-content>
    Login
    <ion-input type="e-mail" placeholder="Digite seu e-mail" class="login-input"></ion-input>
    Senha
    <ion-input type="password" placeholder="Digite seu e-mail" class="login-input"></ion-input>
    </ion-card-content>
    </ion-card>
</ion-content>
