<ion-header>
    <ion-toolbar>
      <ion-title>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <img src="../assets/img/totvsflix.png" height="30"/>
        
      </ion-title>
    </ion-toolbar>
  </ion-header> 
  <ion-header>

      <ion-toolbar>
        <ion-title>Cadastro de Titulos</ion-title>
      </ion-toolbar>
    
    </ion-header>
<ion-content>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
      <ion-fab-button (click)="AddFilmesSerie()" color="danger">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab> 
    <form action="receptordoform" method="GET">
        <ion-item>
            <ion-label>Tipo do Titulo</ion-label>
            <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet"  placeholder="Selecione o tipo">
              <ion-select-option value="f" (click)="AddFilmesSerie()">
                  <ion-button>
                      <ion-icon  name="star"></ion-icon>
                      Filme
                      <ion-icon name="Formulario"></ion-icon>
                    </ion-button>
                  </ion-select-option>
              <ion-select-option value="s" (click)="AddFilmesSerie()">Series</ion-select-option>
            </ion-select>
        </ion-item> 
    </form>
</ion-content>