<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <img src="/assets/img/totvsflix.png" height="30"/>
      
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <!-- Searchbar with danger color -->
    
    <ion-searchbar color="danger" placeholder="Busque filmes, séries..."></ion-searchbar>
    <ion-card class="welcome-card">
      <img src="/assets/img/banner1.jpg" alt="100" />
      <ion-card-header>
        <ion-card-subtitle>Continue assistindo</ion-card-subtitle>
        <ion-card-title>Stranger Things - T3 EP1</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>A série se passa na década de 1980, e é altamente tematizada pelos elementos culturais da época, com uma trilha sonora remetente aos marcantes sintetizadores...</p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
