<!--<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <img src="../assets/img/totvsflix.png" height="40" />
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content color="preto">

  
  <ion-card class="backgroud cardlogin">
      <img class="titulo-login" src="../assets/img/totvsflix-wht.png"/>
    <ion-card-content>
      <h2>Nome</h2>
      <ion-input type="e-mail" placeholder="Digite seu nome" class="login-input"></ion-input>
      <h2>E-mail</h2>
      <ion-input type="e-mail" placeholder="Digite seu e-mail" class="login-input"></ion-input>
      <h2>Senha</h2>
      <ion-input type="password" placeholder="Digite sua senha" class="login-input"></ion-input>
      <h2>Confirmação de Senha</h2>
      <ion-input type="password" placeholder="Digite sua senha" class="login-input"></ion-input>
      <ion-button expand="block" color="danger">Cadastrar-se</ion-button>
      <label class="login-label">Já tem conta? Entre agora!<br></label>
    </ion-card-content>
  </ion-card>
  
</ion-content>